<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
    <div class="sidebar-brand d-flex align-items-center justify-content-center">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
        <a href="/" class="sidebar-brand-text mx-3">CM System </a>
    </div>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider my-0">

    {{#if sess.admin}}
    <div class="sidebar-heading">
        Admin Panel
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#userDeviceInfo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-hdd"></i>
            <span>Devices Info</span>
        </a>
        <div id="userDeviceInfo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded">
                <a class="collapse-item text-light-white" href="/admin/devicelist">Device List</a>
                <a class="collapse-item text-light-white" href="/admin/add_device">Add Device</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#userInfo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-users"></i>
            <span>Users Info</span>
        </a>
        <div id="userInfo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded">
                <a class="collapse-item text-light-white" href="/admin/users">User List</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider d-none d-md-block">

    {{else }}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDevice" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-hdd"></i>
            <span>Device Info</span>
        </a>
        <div id="collapseDevice" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded">
                <a class="collapse-item text-light-white" href="/client/{{ sess.userid }}/devices">Device List</a>
                <a class="collapse-item text-light-white" href="/client/{{ sess.userid }}/alldevics">All Devices</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#clientInfo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-users"></i>
            <span>Users Info</span>
        </a>
        <div id="clientInfo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded">
                <a class="collapse-item text-light-white" href="/client/profile/{{ sess.userid }}">User Profile</a>
                {{!-- <a class="collapse-item text-light-white" href="/webdevice/add_device">Add Device</a> --}}
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    {{/if}}
</ul>