
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    </ol>
</nav>




{{!-- <div class="card">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center text-primary">Socket Test</h5>
                        <div class="form-group">
                            <label for="device_id">Device Id:</label>
                            <input class="form-control" type="text" id="device_id" placeholder="Device Id">
                        </div>

                        <div class="form-group">
                            <label for="temperature">Temperature:</label>
                            <input class="form-control" type="number" id="temperature" placeholder="Temperature">
                        </div>

                        <div class="form-group">
                            <label for="humidity">Humidity</label>:
                            <input class="form-control" type="number" id="humidity" placeholder="Humidity">
                        </div>

                        <div class="form-group">
                            <label for="door_lock">Door Lock:</label>
                            <input class="form-control" type="number" id="door_lock" placeholder="Door Lock">
                        </div>

                        <div>
                            <button id="saveBtn" class="btn btn-primary btn-block">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}